{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-jsx"],
  "env": {
    "browser": true,
    "node": true,
  },
  "rules": {
    "space-before-function-paren": [2, "never"]
  },
  "globals": {
    "__DEV__": true
  }
}
