.header {
  position: relative;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.container {
  margin: auto;
  max-width: 960px;
}

.brand {
  font-size: 32px;
}

.notifications {
  display: inline-flex;
  align-items: center;
  margin: auto 2em;
}
